@model WebMedForms.Models.Solicitacao

@{
    ViewData["Title"] = "Edit";
}

<h4>Confirmação Agendamento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CodStatus" />
            <input type="hidden" asp-for="NomeMedicoSolicitante" />
            <input type="hidden" asp-for="CrmMedicoSolicitante" />
            <input type="hidden" asp-for="ChaveAutenticacao" />
            <input type="hidden" asp-for="NomePaciente" />
            <input type="hidden" asp-for="CPF" />
            <input type="hidden" asp-for="RG" />
            <input type="hidden" asp-for="DataNascimento" />
            <input type="hidden" asp-for="CadUnicoSaude" />
            <input type="hidden" asp-for="Telefone" />
            <input type="hidden" asp-for="Celular" />
            <input type="hidden" asp-for="Email" />
            <input type="hidden" asp-for="Endereco" />
            <input type="hidden" asp-for="Complemento" />
            <input type="hidden" asp-for="Cidade" />
            <input type="hidden" asp-for="Estado" />
            <input type="hidden" asp-for="CEP" />
            <input type="hidden" asp-for="CID" />
            <input type="hidden" asp-for="IndicacaoMedica" />
            <input type="hidden" asp-for="IndicacaoTratamento" />
            <input type="hidden" asp-for="Prioridade" />
            <input type="hidden" asp-for="DataAgendamento1" />
            <input type="hidden" asp-for="DataAgendamento2" />
            <input type="hidden" asp-for="DataAgendamento3" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DataAgendamento1" class="control-label"></label>
                <input asp-for="DataAgendamento1" readonly class="form-control" />
                <span asp-validation-for="DataAgendamento1" class="text-danger"></span>
                <input type="submit" value="Escolher Data 1" class="btn btn-primary" />
            </div>
            <br />
            <div class="form-group">
                <label asp-for="DataAgendamento2" class="control-label"></label>
                <input asp-for="DataAgendamento2" readonly class="form-control" />
                <span asp-validation-for="DataAgendamento2" class="text-danger"></span>
                <input type="submit" value="Escolher Data 2" class="btn btn-primary" />
            </div>
            <br />
            <div class="form-group">
                <label asp-for="DataAgendamento3" class="control-label"></label>
                <input asp-for="DataAgendamento3" readonly class="form-control" />
                <span asp-validation-for="DataAgendamento3" class="text-danger"></span>
                <input type="submit" value="Escolher Data 3" class="btn btn-primary" />
            </div>
@*            <div class="form-group">
                <label asp-for="DataConfirmacao" class="control-label"></label>
                <input asp-for="DataConfirmacao" class="form-control" />
                <span asp-validation-for="DataConfirmacao" class="text-danger"></span>
            </div>*@
            <br />
            <div>
                @*<input type="submit" value="ConfirmarAgendamento" class="btn btn-primary" /> |*@
                <a class="btn btn-primary" asp-action="Index">Voltar</a>
            </div>
            @if (!string.IsNullOrEmpty(ViewBag.Erro))
            {
                <h4 style="color:red;font-weight:600;">
                    @ViewBag.Erro.ToString()
                </h4>
            }
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
