@{
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="~/css/login-page.css" />

<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-8 col-lg-12">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            <h3 class="login-heading mb-4">Efetue Seu Login!</h3>
                            <form asp-controller="Login" asp-action="Logar" method="post">
                                <div class="form-label-group">
                                    <input type="text" id="Nome" name="Nome" class="form-control" placeholder="Login" required autofocus>
                                    <label for="Nome">Digite seu usuário</label>
                                </div>

                                <div class="form-label-group">
                                    <input type="password" id="Senha" name="Senha" class="form-control" placeholder="Password" required>
                                    <label for="Senha">Password</label>
                                </div>

                                @if (!string.IsNullOrEmpty(ViewBag.Erro))
                                {
                                    <h4 style="color:red;font-weight:600;">
                                        @ViewBag.Erro.ToString()
                                    </h4>
                                }
                                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Entrar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>