@model WebMedForms.Models.Solicitacao

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Solicitação</h1>

<hr />
<div class="row">
    <div class="col-md">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CodStatus" />
            <input type="hidden" asp-for="NomeMedicoSolicitante" />
            <input type="hidden" asp-for="CrmMedicoSolicitante" />
            <input type="hidden" asp-for="ChaveAutenticacao" />
            <input type="hidden" asp-for="NomePaciente" />
            <input type="hidden" asp-for="CPF" />
            <input type="hidden" asp-for="RG" />
            <input type="hidden" asp-for="DataNascimento" />
            <input type="hidden" asp-for="CadUnicoSaude" />
            <input type="hidden" asp-for="Telefone" />
            <input type="hidden" asp-for="Celular" />
            <input type="hidden" asp-for="Email" />
            <input type="hidden" asp-for="Endereco" />
            <input type="hidden" asp-for="Complemento" />
            <input type="hidden" asp-for="Cidade" />
            <input type="hidden" asp-for="Estado" />
            <input type="hidden" asp-for="CEP" />
            <input type="hidden" asp-for="CID" />
            <input type="hidden" asp-for="IndicacaoMedica" />
            <input type="hidden" asp-for="IndicacaoTratamento" />
            <input type="hidden" asp-for="Prioridade" />
            <br>
            <div class="col-md-6">
                <label style="color:red;" class=" form-label">Defina a prioridade da solicitação</label>
                @Html.DropDownList("Prioridade", Html.GetEnumSelectList<Enumeradores.Prioridade>(), "Selecione a Prioridade", new {@class="form-control"})
            </div>
            <br>
            <div>
                <input type="submit" value="Aprovar Solicitação" class="btn btn-primary" /> |
                <a class="btn btn-primary" asp-action="Index">Retornar às solicitações</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('#cpf').mask('000.000.000-00', { placeholder: "___.___.___-__" });
            $('#cep').mask('00000-00', { placeholder: "_____-__" });
            $('#rg').mask('00.000.000-00', { placeholder: "__.___.___-__" });
            $('#telefone').mask('0000-0000', { placeholder: "____-____" });
            $('#celular').mask('(00)00000-0000', { placeholder: "(__)_____-____" });

        });
    </script>
}
